/* Contenedor principal */
.static-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;;
  height: 100vh;
  text-align: center;
  padding: 20px;
  background: #2c3e69;
  color: #fff;
}

/* Encabezado */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 0; /* Elimina el espacio superior */
  margin-bottom: 20px;
  position: relative;
  top: 0; /* Asegúrate de que no esté bajando el header */
  padding-top: 50px; /* Opcional, ajusta si necesitas algo de espacio */
}

header h1 {
  font-size: 1.2em;
  margin: -0;
  position: relative;
  top: 0; /* Elimina desplazamiento vertical */
  font-weight: 80;
}

.back-btn, .close-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.back-icon, .close-icon {
  width: 24px;
  height: 24px;
}

/* Formulario */
form {
  display: flex;
  flex-direction: column;
  gap: 12px; /*separa los input*/
  width: 110%; /*largo*/
  max-width: 400px;
}

.foto-placeholder {
  width: 0px;
  height: 150px;
  margin: 0 auto 10px; /*mas arriba el formulario*/
  background: #34495e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}



input[type="text"], input[type="file"], select {
  padding: 10px; /*grandor*/
  border: none;
  border-radius: 50px;
  background: #7b8c9c;
  color: #2c377b;
  font-size: 1em; /*grande de las letras*/
  width: 100%; /*largor de los input*/
  box-sizing: border-box;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

input[type="file"] {
  padding: 20px;
}

input[type="text"]::placeholder, select {
  color: #062a43;

}

.save-btn {
  padding: 12px;
  background-color: #66d481;
  color: white;
  border: none;
  border-radius: 50px;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

.save-btn:hover {
  background-color: #2db54f;
}

/* Mensaje de error */
.error-message {
  color: #e74c3c;
  font-size: 1em;
  margin: 10px 0 0;
  display: none;
}